defaults/flow.json
[{"id":"f0d2bda1.f5c1c","type":"tab","label":"Flow 1"},{"id":"3f92bc3.8894dc4","type":"http in","z":"f0d2bda1.f5c1c","name":"Input","url":"/watson-chatbot","method":"post","swaggerDoc":"","x":90,"y":120,"wires":[["d4f4a2a3.ea946","3a0fccb2.1aaf04"]]},{"id":"3a0fccb2.1aaf04","type":"debug","z":"f0d2bda1.f5c1c","name":"","active":true,"console":"false","complete":"false","x":270,"y":60,"wires":[]},{"id":"d4f4a2a3.ea946","type":"switch","z":"f0d2bda1.f5c1c","name":"Authentication","property":"payload.token","propertyType":"msg","rules":[{"t":"eq","v":"vH8Yx1kA9fK0sj3oENhnrjow","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":260,"y":120,"wires":[["b1da0666.0a1be8"],["a8a55c17.1143c"]]},{"id":"b1da0666.0a1be8","type":"function","z":"f0d2bda1.f5c1c","name":"Prepare for Conversation","func":"msg.payload = msg.payload.text;\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":100,"wires":[["a33f0882.686158","ec105282.425ee8"]]},{"id":"2ab7c251.73c8c6","type":"http response","z":"f0d2bda1.f5c1c","name":"","x":650,"y":140,"wires":[]},{"id":"a7d65b13.7e7498","type":"http response","z":"f0d2bda1.f5c1c","name":"","x":1110,"y":100,"wires":[]},{"id":"a33f0882.686158","type":"watson-conversation-v1","z":"f0d2bda1.f5c1c","name":"","workspaceid":"545e1fbf-9e53-4bb8-a2f4-b59c1553d0e4","multiuser":false,"context":true,"x":710,"y":100,"wires":[["856150ec.077fa8"]]},{"id":"856150ec.077fa8","type":"function","z":"f0d2bda1.f5c1c","name":"Response from Conversation","func":"msg.payload = msg.payload.output.text + \"\";\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":100,"wires":[["a7d65b13.7e7498"]]},{"id":"ec105282.425ee8","type":"debug","z":"f0d2bda1.f5c1c","name":"","active":true,"console":"false","complete":"payload","x":730,"y":40,"wires":[]},{"id":"a8a55c17.1143c","type":"change","z":"f0d2bda1.f5c1c","name":"Invalid token provided","rules":[{"t":"set","p":"payload","pt":"msg","to":"Invalid authentication token provided","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["2ab7c251.73c8c6"]]},{"id":"9ccd91dd.46b48","type":"http in","z":"f0d2bda1.f5c1c","name":"HTML","url":"/watson-chatbot","method":"get","swaggerDoc":"","x":90,"y":220,"wires":[["937b4096.59c31"]]},{"id":"937b4096.59c31","type":"function","z":"f0d2bda1.f5c1c","name":"HTML Form","func":"\nvar html = \"\\n\\\n<html>\\n\\\n<head>\\n\\\n<script \\n\\\n  src='//code.jquery.com/jquery-3.1.1.min.js' \\n\\\n  integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' \\n\\\n  crossorigin='anonymous'></script>\\n\\\n<script>\\n\\\nvar token = 'vH8Yx1kA9fK0sj3oENhnrjow';\\n\\\n$(function() {\\n\\\n    $('#message').keypress(function (e) {\\n\\\n        if (e.which == 13) {\\n\\\n            submit();\\n\\\n            return false;\\n\\\n        }\\n\\\n    });\\n\\\n    \\\n    $('#submit').click(submit);\\n\\\n    \\\n    function submit() {\\n\\\n        var msg = $('#message').val();\\n\\\n        $('#messages').append('<li class=\\\"human\\\">' + msg + '</li>')\\n\\\n        $('#message').val(\\\"\\\")\\n\\\n        var options = {\\n\\\n            url:'/watson-chatbot',\\n\\\n            method:'POST',\\n\\\n            data:{text: msg, token: token}\\n\\\n        }\\n\\\n        $.ajax(options).done(function(res) {\\n\\\n            $('#messages').append('<li class=\\\"robot\\\">' + res + '</li>')\\n\\\n            $('#messages').parent().scrollTop($('#messages').parent()[0].scrollHeight);\\n\\\n        })\\n\\\n    }\\n\\\n})\\n\\\n</script>\\n\\\n<style>\\n\\\n#messages {padding: 0px;} \\n\\\n#messages li {list-style-type: none; padding: 10px 30px; }\\n\\\n#message {padding-left: 10px; float: left; width: calc(100% - 100px); height: 50px; font-size: 30px;} \\n\\\nli.human {color: green; text-align: right}\\n\\\nli.robot {color: red; text-align: left}\\n\\\n</style>\\n\\\n</head>\\n\\\n<body style='margin: 0px;'>\\n\\\n    <div style='height: calc(100% - 60px); overflow-y: scroll;'>\\n\\\n        <ul id='messages'></ul>\\n\\\n    </div>\\n\\\n    <div style='position: fixed; bottom: 20px; width: 100%; height: 40px;'>\\n\\\n        <input id='message'/>\\n\\\n        <input id='submit' type='submit' style='float: left; width: 100px; height: 50px; '/>\\n\\\n    </div>\\n\\\n</body>\\n\\\n</html>\\n\\\n\"\n\nmsg.payload = html;\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["1fac2fa1.e1dba"]]},{"id":"1fac2fa1.e1dba","type":"http response","z":"f0d2bda1.f5c1c","name":"","x":370,"y":220,"wires":[]}]
